@charset "UTF-8";

#th-00 {
    width : auto;
}

#th-01 {
    width : 50px;
}

#th-02 {
    width : 50px;
}

#th-03 {
    width : 100px;
}

#th-04 {
    width : 100px;
}

#th-05 {
    width : 100px;
}

#th-06 {
    width : 100px;
}

#th-07 {
    width : 100px;
}

#th-08 {
    width : auto;
}