<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "jp.co.web.infrastructure.DetailMapper">

    <resultMap id="result" type="jp.co.web.infrastructure.DetailModel">
        <result property="date"      column="date" />
        <result property="week"      column="week" />
        <result property="type"      column="type" />
        <result property="openTime"  column="open_time" />
        <result property="closeTime" column="close_time" />
        <result property="breakTime" column="break_time" />
        <result property="totalTime" column="total_time" />
        <result property="remark"    column="remark" />
    </resultMap>

	<!-- 取得 -->
    <select id="findDetail" resultMap="result">
        select
            dt.date,
            dt.week,
            dt.type,
            dt.open_time,
            dt.close_time,
            dt.break_time,
            dt.total_time,
            dt.remark
        from
            detail_tbl dt
        inner join
            period_tbl pt
        on
            dt.id     = pt.id
        and dt.period = pt.period
        <where>
          <if test="id != null">
            pt.id = #{id}
          </if>
          <if test="period != null">
            and pt.period = #{period}
          </if>
        </where>
    </select>

	<!-- 削除 -->
    <delete id="deleteDetail">
        delete from
            detail_tbl
        where
            id     = #{id}
        and period = #{period}
    </delete>

	<!-- 登録 -->
    <insert id="insertDetail">
        insert into detail_tbl (
            id,
            period,
            date,
            week,
            type,
            open_time,
            close_time,
            break_time,
            total_time,
            remark
        )
        values
            <foreach collection="details" item="item" index="index" separator=",">
                (
                    #{id},
                    #{period},
                    #{item.date},
                    #{item.week},
                    #{item.type},
                    #{item.openTime},
                    #{item.closeTime},
                    #{item.breakTime},
                    #{item.totalTime},
                    #{item.remark}
                )
            </foreach>
    </insert>

</mapper>