<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>ログイン</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap-reboot.css}" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/common.css}" />
<link rel="stylesheet" th:href="@{/css/login.css}" />

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/js/common.js}" />
<link rel="stylesheet" th:href="@{/js/login.js}" />
<!--[if lt IE 9]>
  <script src="html5shiv.js"></script>
  <script src="respond.min.js"></script>
<![endif]-->
</head>
<body>
  <main>
  <form th:action="@{/login/auth}" th:object="${loginForm}" method="post" autocomplete="off">
    <div id="computer" style="display:block">
      <div th:if="${accounterror}">
        <input type="text" />
      </div>
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-4">
            <div class="form-group">
              <logic:notEmpty name="loginForm" property="accounterror" />
                <font size="2" color="red">
                    <p th:text="*{accounterror}"></p>
                </font>
                <br>
              </logic:notEmpty>
              <label for="account">アカウント：</label>
              <input type="text" class="form-control form-control-sm" placeholder="account" th:field="*{account}">
              <label for="password">パスワード：</label>
              <input type="password" class="form-control form-control-sm" placeholder="password" th:field="*{password}">
              <input type="hidden" name="smartflag" th:value="false">
            </div>
            <div class="bnt-group">
              <button type="submit" class="btn btn-sm btn-block btn-primary">ログイン</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="smart" style="display: none">
         <div th:if="${accounterror}"><input type="text" /></div>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-4">
                        <div class="form-group">
                            <logic:notEmpty name="loginForm" property="accounterror"/>
                                <font size="2" color="red"><p th:text="*{accounterror}"></p></font><br>
                            </logic:notEmpty>
                               <label for="account">アカウント：</label>
                               <input type="text" class="form-control form-control-sm" placeholder="account" th:field="*{account}">
                               <label for="password">パスワード：</label>
                               <input type="password" class="form-control form-control-sm" placeholder="password" th:field="*{password}">
                               <input type="hidden" name="smartflag" th:value="true">
                        </div>
                        <div class="bnt-group">
                            <button type="submit" class="btn btn-sm btn-block btn-primary">ログイン</button>
                        </div>
                    </div>
                </div>
            </div>
         </div>
       </form>
   </main>
  <script th:inline="javascript">
       let ua = navigator.userAgent;
       if (ua.indexOf('iPhone') > 0 || (ua.indexOf('Android') > 0) && (ua.indexOf('Mobile') > 0) || ua.indexOf('Windows Phone') > 0) {
           document.querySelectorAll('#computer input').forEach( e => e.disabled = true);
           document.querySelectorAll('#smart input').forEach( e => e.disabled = false);
           document.getElementById('computer').style.display = 'none';
           document.getElementById('smart').style.display = '';
       } else {
           document.querySelectorAll('#computer input').forEach( e => e.disabled = false);
           document.querySelectorAll('#smart input').forEach( e => e.disabled = true);
           document.getElementById('computer').style.display = '';
           document.getElementById('smart').style.display = 'none';
       }
   </script>
</body>
</html>
